@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  /* overflow: -moz-scrollbars-vertical !important;
  overflow-y: scroll !important; */
  background-image: linear-gradient(#9e9086, #9e9086, #58504a);
}
* {
  font-family: "Abel", sans-serif !important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

/* h1 {
  color: #20C4CB;
} */
.navbar {
  z-index: 1;
  /* background-color: transparent; */
}
.navbar-list {
  width: 100vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  /* background-color: transparent; */
  justify-content: space-around;
  padding: 2px 5px;
}
.navbar-list li a {
  color: whitesmoke;
  /* font-weight: bold; */
  text-transform: uppercase;
}
.navbar-list li a:hover {
  color: #20c4cb;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#about,
#contact,
#projects,
#skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 88vw;
  background-color: rgb(248, 240, 231);
  padding: 40px;
  border-radius: 20px;
  border-top: 4px solid #20c4cb;
  /* box-shadow: 0px 0px 5px rgb(248, 240, 231); */
  margin: 20px 0px;
}
#about h1,
#projects h1,
#skills h1,
#contact h1,
#home h1 {
  color: #20c4cb;
  letter-spacing: 3px;
  font-size: 30px;
}
#about {
  background-image: linear-gradient(#f8f0e7, #f8f0e7df),
    url("./assets/images/education-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#projects {
  background-image: linear-gradient(#f8f0e7df, #f8f0e7),
    url("./assets/images/projects-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#skills {
  background-image: linear-gradient(#f8f0e7, #f8f0e7df),
    url("./assets/images/skills-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contact {
  background-image: linear-gradient(#f8f0e7df, #f8f0e7),
    url("./assets/images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-title {
  position: absolute;
  top: -20px;
  background-color: rgb(248, 240, 231);
  border-radius: 15px;
  padding: 3px 10px;
  border-top: 4px solid #20c4cb;
  text-wrap: wrap;
}
.noStyle {
  list-style-type: none;
}
li::marker {
  color: #20c4cb;
}
/* Main layout for project cards */
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Layout for project description and images */
.project-info {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; /* Description on left, images on right */
  gap: 100px;
  align-items: center;
  min-height: 350px;
  padding: 0px 20px;
}

.project-description {
  flex: 1; /* Allow description to take available space */
  text-align: justify;
  transition: all 2s;

  /* display: inline-block; */
}

.project-description p {
  height: auto;
  transition: all 2s;
}

.toggle-description {
  margin-bottom: 20px;
  display: none;
}

/* Project Images Layout */
.project-img-container {
  max-width: 400px;
  min-height: 250px;
  height: auto;
  flex: 1;
  position: relative;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.project-img {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 100%; /* Thumbnail size */
  max-height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  /* transform: rotate(90deg); */
}
.project-img:nth-child(1n) {
  transform: rotate(-5deg);
}
.project-img:nth-child(2n) {
  transform: rotate(5deg);
}
.project-img:nth-child(3n) {
  transform: rotate(10deg);
}

.project-img:hover {
  transform: scale(1.05); /* Hover effect to make image pop */
}

/* Modal Layout */
.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: -4px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-img {
  max-width: 100%;
  max-height: 85vh;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Navigation buttons */
.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  transform: translateY(-50%);
}

.modal-prev {
  left: 10px;
}

.modal-next {
  right: 10px;
}

/* Hover effects on buttons */
.modal-prev:hover,
.modal-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.close-button:hover {
  color: red;
}
/* ---- for appearing effect --down*/

.appear-section {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.active {
  transform: translateY(0px);
  opacity: 1;
}

/* ----------------------------- */
/* .fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fade-in.visible {
  opacity: 1; */

/* } */
/* ------------------------------ */
/* ---- for appearing effect --up */

#home {
  position: relative;
  top: -25px;
  background-image: linear-gradient(#f8f0e734, #f8f0e734, #9e9086),
    url("./assets/images/home-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  color: whitesmoke;
}
.homeBio {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 450px;
  height: 450px;
}
.homePic {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px whitesmoke;
  margin-bottom: 20px;
}
.homeTittle,
.homeBio h1 {
  position: relative;
  /* top: 100px; */
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  text-align: center;
  margin: 2px;
  letter-spacing: 2px;
}
/* ---------animation for tittle------------ */
.tittle-container {
  text-align: center;

  font-size: 1.5em;
  color: whitesmoke;
  position: relative;
  height: 1.2em; /* Adjust based on font size to prevent layout shift */
}

.tittle-line {
  position: absolute;
  width: 100%;
  opacity: 0;
  text-align: center;
  margin: 3px;
  letter-spacing: 3px;
  font-size: 32px;
}

.visible {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
/* .letter {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  33% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* @keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
} */

/* ----- up animation for tittle ----------- */

.aboutBio {
  text-align: justify;
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

/* Skill Circle Container */
.skill-circle {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: all 0.7s;

  /* opacity: 0; */
}
.skill-circle:hover {
  transform: scale(1.05);
  background: conic-gradient(
    #34e3e9 0% calc(var(--percent) * 1%),
    #dcdcdc calc(var(--percent) * 1%) 100%
  ) !important;
  /* background-color: #38e1e7 !important; */
}

/* Inner Circle where the skill name will be displayed */
.skill-inner {
  position: absolute;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: white;
  font-weight: bold;
  font-size: 14px;
  /* justify-content: center; */
  /* flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px; */
}
.skill-logo {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 60px;
  height: auto;
}
.skill-procent {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #14767a;
  background-color: rgba(245, 245, 245, 0.427);
  border-radius: 5px;
  padding: 1px 2px;
}

/* Skills Container */
.skills-container,
.skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 30px;
  /* margin-top: 15px; */
}
.skills-box {
  gap: 30px;
}

/* ----------- CONTACT FORM ---------DOWN------- */

/* #contact form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

.formTitle {
  font-family: "Orbitron", sans-serif;
  text-align: left;
}
.formTitle-msg {
  color: #20c4cb;
}

.form-panel {
  width: 100%;
}

#form {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 70vh; */
}

.formFields {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ------- floating labels---- */
.inputBox {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.inputBox .input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  outline: none;
  transition: all 0.5s;
  background-color: white;
}

.inputBox input {
  height: 30px;
  padding: 0 10px;
}

.inputBox textarea {
  padding: 10px;
}

.inputBox .floatLabel {
  position: absolute;
  left: 0px;
  padding: 10px;
  transition: all 0.5s;
}

.inputBox .input:valid ~ .floatLabel,
.inputBox .input:focus ~ .floatLabel {
  transform: translate(10px, -7px);
  padding: 0 10px;
  font-size: 10px;
  color: rgb(201, 201, 201);
  background-color: white;
  border-left: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
}

.inputBox .input:valid,
.inputBox .input:focus {
  border-top: 1px solid rgb(201, 201, 201);
  border-left: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
}

/* -------------------------------------------- */

.formSender,
.formMsg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  margin: 1vh;
}

.send {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.send .btn {
  color: #20c4cb;
  font-family: "Orbitron", sans-serif;
  width: 150px;
  margin-top: 2vh;
  border-radius: 25px;
  background: linear-gradient(white, rgb(201, 201, 201));
  transition: background 1.5s;
  transition: all 1s;
}

.send .btn:hover {
  color: whitesmoke;
  background: linear-gradient(#20c4cb, #157f83);
}

.send h2 {
  text-align: center;
  font-size: 2em;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
/* ----------- CONTACT FORM ---------UP------- */
.footer,
.footer a {
  color: whitesmoke;
}
.footer-contact {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 950px) {
  .project-description .more-desc {
    max-height: auto;
    overflow: auto;
    transition: all 2s;
  }
  .project-description .less-desc {
    max-height: 100px;
    overflow: hidden;
    transition: all 2s;
  }
  .project-description .toggle-description {
    display: block;
    cursor: pointer;
    color: #20c4cb;
    font-weight: bold;
  }
  #form {
    flex-direction: column;
    justify-content: space-between;
    /* height: 70vh; */
  }

  .formFields {
    flex-direction: column;
  }

  .formSender,
  .formMsg {
    width: 95%;
  }
}
@media (max-width: 750px) {
  #about,
  #contact,
  #projects,
  #skills {
    padding: 20px 15px;
  }
  #about h1,
  #projects h1,
  #skills h1,
  #contact h1,
  #home h1 {
    letter-spacing: 1.5px;
    font-size: 24px;
  }
  .section-title {
    top: -18px;
    border-radius: 10px;
    padding: 2px 5px;
  }
  #about {
    flex-direction: column;
  }
  .homeBio {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 450px;
  }
  .project-info {
    flex-direction: column;
  }
  .project-description .less-desc {
    max-height: 40px;
  }
  .project-img-container {
    /* max-width: 400px;
    min-height: 250px;
    height: auto;
    flex: 1;
    position: relative;
    bottom: 0px;
    right: 0px;
    display: flex; */
    flex-direction: row-reverse;
    /* gap: 10px; */
    height: 250px;
    width: 350px;
    /* transform: translateX(50%); */
    align-items: center;
    /* transform: translate(50%, 50%); */
  }

  .project-img {
    /* position: absolute;
    right: 0px;
    top: 0px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; */
    /* transform: translate(50%, 50%); */
    top: -25%;
    /* transform: translate(0%, 0%); */
    max-width: 350px;
    max-height: 350px;
  }
}
@media (max-width: 480px) {
  .project-img-container {
    height: 180px;
    width: 300px;
    align-items: center;
  }

  .project-img {
    top: -20%;
    max-width: 300px;
    max-height: 300px;
  }
}
